{% from "_icons.html" import icon %}
{% extends "base.html" %}
{% block title %}Prüfbericht{% endblock %}
{% block content %}
<p class="aktionen">
  <a class="btn zweit" href="/dossiers/{{ dossier.id }}/ansicht">{{ icon("arrow_back") }}← Zurück zum Dossier</a>
  {% if pruefung.status.value == "abgeschlossen" %}
  <a class="btn" href="/dossiers/{{ dossier.id }}/pruefungen/{{ pruefung.id }}/bericht.pdf">{{ icon("picture_as_pdf") }}Als PDF herunterladen</a>
  {% endif %}</p>
{% include "_bericht.html" %}
{% endblock %}
